[*.cs]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 160
csharp_new_line_before_open_brace = accessors,anonymous_methods,anonymous_types,control_blocks,events,indexers,lambdas,local_functions,methods,properties,types
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
dress_space_after_collection_spread_operator = true
dress_space_after_attribute_target_colon = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dress_arguments_layout = auto
dress_parameters_layout = auto
dress_multiline_parameters_closing_parenthesis_position = own_line
dress_object_initializer_layout = auto
dress_collection_initializer_layout = auto
dress_array_initializer_layout = auto
dress_with_initializer_layout = auto
dress_collection_expressions_layout = auto
dress_base_type_lists_layout = auto
dress_constraint_clauses_layout = auto
dress_member_access_chains_layout = auto
dress_binary_expressions_layout = auto
dress_binary_expression_indentation = precedence
dress_conditional_expressions_layout = auto
dress_query_clauses_layout = auto
dress_attributes_layout = auto
dress_blank_lines_around_namespaces = 1
dress_blank_lines_around_types = 1
dress_blank_lines_between_members = unset
dress_blank_lines_between_using_groups = 0
dress_blank_lines_between_member_categories = 1
dress_max_consecutive_blank_lines = 1
dress_line_comment_spacing = single
dress_block_comment_spacing = single
dress_attached_comment_placement = auto
dress_xml_comment_placement = attached
dress_xml_element_layout = unset
dress_global_using_order = first
dress_using_kind_order = ordinary,static,alias
csharp_preferred_modifier_order = public,protected,internal,private,file,new,static,abstract,virtual,sealed,override,readonly,unsafe,required,volatile,async
dress_object_initializer_indentation = indented
dress_collection_initializer_indentation = indented
dress_array_initializer_indentation = indented
dress_with_initializer_indentation = indented
dress_collection_expression_indentation = indented
dress_collection_expression_argument_indentation = not_indented
dress_switch_expression_indentation = indented
dress_lambda_block_indentation = indented
dress_method_body = unset
dress_constructor_body = unset
dress_operator_body = unset
dress_property_body = expression
dress_indexer_body = expression
dress_accessor_body = expression
dress_lambda_body = expression
dress_namespace_style = file_scoped
dress_embedded_statement_placement = next_line
dress_embedded_statement_braces = balanced
dress_braces_for_multiline_statement_header = true
dress_multiline_parameter_list_open_brace_position = same_line
dress_nested_conditional_style = decision_ladder
dotnet_style_operator_placement_when_wrapping = beginning_of_line
